* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Inconsolata", monospace;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.inconsolata-font {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  border-bottom: 0.2px solid rgb(230, 230, 230);
  font-family: "Inconsolata", monospace;
}
header nav div div img {
  width: 50px;
  margin-left: 100px;
}
header nav div ul li a {
  transition: 1s !important;
}
header nav div ul li a:hover {
  color: #2A89C9 !important;
}

section {
  width: 100%;
  margin-top: 15px;
}
section div {
  width: 36%;
}
section div img {
  width: 172%;
  padding-left: 30px;
}

.container-tarjetas {
  width: 85%;
  margin-left: 100px;
}
.container-tarjetas h1 {
  text-align: center;
  margin-top: 60px;
  font-family: "Inconsolata", monospace;
}
.container-tarjetas .container-cards1 {
  display: flex;
  width: 100% !important;
  justify-content: space-evenly;
}
.container-tarjetas .container-cards1 .card {
  margin: 20px;
  border: none;
}
.container-tarjetas .container-cards1 .card .card-body {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
}
.container-tarjetas .container-cards1 .card .card-body .card-title {
  display: flex;
}
.container-tarjetas .container-cards1 .card .card-body .card-text {
  display: flex;
}

.container-publicidad {
  background-color: #E7E7E7;
  display: flex;
}
.container-publicidad .img-publicidad img {
  width: 100%;
}
.container-publicidad .texto-publicidad {
  margin-left: 250px;
  margin-top: 90px;
}
.container-publicidad .texto-publicidad h2 {
  color: white;
  font-size: 30px;
}
.container-publicidad .texto-publicidad p {
  font-weight: bold;
  font-size: 25px;
}
.container-publicidad .texto-publicidad a {
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

.publicidad-pedidosya {
  display: flex;
  background-color: #00A1E1;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.publicidad-pedidosya .img-pedidosya {
  width: 10%;
  margin-left: 150px;
}
.publicidad-pedidosya .texto-pedidosya {
  color: white;
  margin-right: 180px;
}
.publicidad-pedidosya .texto-pedidosya h2 {
  font-size: 28px;
}

.cafe-origen {
  background-color: #F5F5F5;
  margin-bottom: 0;
}
.cafe-origen .texto-footer {
  padding-top: 80px;
  width: 100%;
}
.cafe-origen .texto-footer h2 {
  font-size: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cafe-origen .texto-footer p {
  font-size: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cafe-origen .img-panama {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
}
.cafe-origen .img-panama img {
  width: 250px;
}

footer {
  bottom: 0 !important;
  position: relative;
}
footer .footer {
  background-color: #393939;
  display: flex;
  background-position: center bottom;
  background-size: 100% 75%;
  min-height: 30vh;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 0;
}
footer .footer .img-redes {
  display: flex;
  align-items: center;
  position: relative;
  width: 80px;
  margin-right: 140px;
  gap: 10px;
}
footer .footer .img-llama {
  width: 60px;
  display: flex;
  align-items: center;
  margin-left: 90px;
}
footer .fin-footer {
  margin-top: 0;
  background-color: #EEEEEE;
  background-size: 100% 45%;
  min-height: 19vh;
}
footer .fin-footer p {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
footer .fin-footer p a {
  text-decoration: none;
  padding-left: 7px;
}

section div h2 {
  padding-left: 140px;
  font-weight: none;
}
section .section-1 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .section-1 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .section-1 p {
  padding-top: 15px;
  padding-left: 70px;
}
section .section-2 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .section-2 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}
section .section-2 p {
  padding-top: 15px;
  padding-left: 70px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 21px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}
section .section-3 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F9F9F9;
}
section .section-3 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}
section .section-3 p {
  padding-top: 15px;
  padding-left: 70px;
  font-weight: bold;
  font-size: 23px;
}

section .origenes-1 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .origenes-1 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .origenes-1 p {
  padding-top: 15px;
  padding-left: 70px;
  font-weight: bold;
  font-size: 25px;
}
section .origenes-2 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .origenes-2 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .origenes-2 p {
  padding-top: 15px;
  padding-left: 70px;
}
section .origenes-3 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .origenes-3 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .origenes-3 p {
  padding-top: 15px;
  padding-left: 70px;
}

.sourdoughs-1 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sourdoughs-1 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
.sourdoughs-1 p {
  padding-top: 15px;
  padding-left: 70px;
  font-size: 23px;
  font-weight: bold;
}

.texto-sourd {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  align-items: start;
  width: 70%;
  margin-left: 240px;
  font-weight: bold;
  font-size: 20px;
}

.sourdoughs-2 {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sourdoughs-2 img {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 10px;
}
.sourdoughs-2 p {
  padding-top: 15px;
  padding-left: 70px;
}

section .prensa-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}
section .prensa-1 img {
  width: 250%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .prensa-1 p {
  width: 170%;
  margin-left: 80px;
  padding-bottom: 90px;
  border-bottom: 0.2px solid black;
}
section .prensa-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
  margin-top: 40px;
}
section .prensa-2 img {
  width: 250%;
  padding-bottom: 40px;
  padding-top: 10px;
}
section .prensa-2 p {
  width: 170%;
  margin-left: 80px;
}

.container-franquicias {
  display: flex;
  margin-top: 50px;
  margin-bottom: 70px;
  width: 100%;
}
.container-franquicias .franquicias-1 {
  justify-content: center;
  align-content: center;
  width: 40%;
}
.container-franquicias .franquicias-1 h2 {
  padding-right: 60px;
  font-size: 55px;
}
.container-franquicias .franquicias-1 p {
  text-align: start;
  font-size: 18px;
  padding-left: 142px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.container-franquicias .franquicias-1 a {
  padding-left: 150px;
}
.container-franquicias .franquicias-1 a .boton {
  background-color: #2A89C9;
  padding: 15px 70px;
  color: white;
  border: none;
}
.container-franquicias .franquicias-2 {
  width: 30%;
}

.container-bienvenidos {
  width: 100%;
  background-color: #F9F9F9;
}
.container-bienvenidos .bienvenidos-1 {
  width: 100%;
}
.container-bienvenidos .bienvenidos-1 h5 {
  text-align: center;
  padding-top: 50px;
}
.container-bienvenidos .bienvenidos-1 h2 {
  text-align: center;
  margin-right: 90px;
  padding-top: 25px;
  font-size: 55px;
}
.container-bienvenidos .bienvenidos-1 p {
  padding-top: 25px;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin-left: 210px;
  font-size: 16px;
}
.container-bienvenidos .bienvenidos-1 p span {
  font-weight: bold;
}
.container-bienvenidos .bienvenidos-2 {
  width: 100%;
}
.container-bienvenidos .bienvenidos-2 iframe {
  padding-top: 45px;
  justify-content: center;
  width: 70%;
  height: 580px;
  margin-left: 220px;
  margin-bottom: 70px;
}

.container-nuestrahistoria {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-nuestrahistoria .nuestra-historia1 {
  width: 50%;
  justify-content: center;
}
.container-nuestrahistoria .nuestra-historia1 h2 {
  font-size: 50px;
  margin-left: 50px;
  padding-bottom: 40px;
}
.container-nuestrahistoria .nuestra-historia1 p {
  justify-content: flex-start;
  padding-left: 150px;
  padding-right: 60px;
}
.container-nuestrahistoria .nuestra-historia1 p span {
  font-weight: bold;
}
.container-nuestrahistoria .nuestra-historia2 {
  width: 40%;
}
.container-nuestrahistoria .nuestra-historia2 .img-1 {
  width: 27%;
  display: flex;
  flex-direction: row;
}
.container-nuestrahistoria .nuestra-historia2 .img-2 {
  display: flex;
  flex-direction: row;
  width: 54%;
  padding-top: 30px;
}

.container-ofrecemos {
  background-color: #F9F9F9;
  width: 100%;
}
.container-ofrecemos .encabezado {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
.container-ofrecemos .encabezado h2 {
  font-size: 50px;
  padding-right: 130px;
}
.container-ofrecemos .encabezado p {
  padding-top: 30px;
}
.container-ofrecemos .grid-llama {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
  padding-bottom: 70px;
}
.container-ofrecemos .grid-llama .primer-section {
  width: 80%;
  margin-left: 250px;
  justify-content: flex-start;
}
.container-ofrecemos .grid-llama .primer-section .grid-exp {
  width: 110%;
  margin-bottom: 90px;
  margin-top: 40px;
}
.container-ofrecemos .grid-llama .primer-section .grid-soporte {
  width: 110%;
}
.container-ofrecemos .grid-llama .img-logo {
  width: 30%;
  justify-content: center;
  margin-right: 400px;
}
.container-ofrecemos .grid-llama .img-logo img {
  width: 350%;
  padding-left: 70px;
}
.container-ofrecemos .grid-llama .segunda-section {
  width: 80%;
  margin-right: 150px;
  justify-content: flex-end;
}
.container-ofrecemos .grid-llama .segunda-section .grid-calidad {
  width: 110%;
  margin-bottom: 70px;
  margin-top: 40px;
}
.container-ofrecemos .grid-llama .segunda-section .grid-marca {
  width: 110%;
}
.container-ofrecemos .botton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 70px;
}
.container-ofrecemos .botton a .boton {
  background-color: #2A89C9;
  padding: 15px 70px;
  color: white;
  border: none;
}

.container-empezar {
  width: 100%;
}
.container-empezar .encabezado-empezar {
  width: 100%;
  margin-top: 90px;
}
.container-empezar .encabezado-empezar h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 55px;
  padding-right: 150px;
  padding-bottom: 15px;
}
.container-empezar .encabezado-empezar p {
  text-align: center;
}
.container-empezar .empezar-1 {
  display: flex;
  align-content: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 150px;
  margin-top: 50px;
  gap: 15px;
  padding-bottom: 40px;
}
.container-empezar .empezar-1 .card-1 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-1 .card-1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-1 .card-1 p {
  display: inline;
  padding-left: 65px;
}
.container-empezar .empezar-1 .card-2 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-1 .card-2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-1 .card-2 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-1 .card-3 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-1 .card-3 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-1 .card-3 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-1 .card-4 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-1 .card-4 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-1 .card-4 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-2 {
  display: flex;
  align-content: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 150px;
  gap: 15px;
  padding-bottom: 40px;
}
.container-empezar .empezar-2 .card-5 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-2 .card-5 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-2 .card-5 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-2 .card-6 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-2 .card-6 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-2 .card-6 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-2 .card-7 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-2 .card-7 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-2 .card-7 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-2 .card-8 {
  background-color: #F5F5F5;
  width: 30%;
  height: 280px;
}
.container-empezar .empezar-2 .card-8 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-2 .card-8 p {
  text-align: center;
  padding: 0 40px;
}
.container-empezar .empezar-3 {
  display: flex;
  align-content: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 150px;
  gap: 15px;
  padding-bottom: 120px;
}
.container-empezar .empezar-3 .card-9 {
  background-color: #F5F5F5;
  width: 50%;
  height: 280px;
}
.container-empezar .empezar-3 .card-9 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-3 .card-9 p {
  display: inline;
  padding-left: 190px;
}
.container-empezar .empezar-3 .card-10 {
  background-color: #F5F5F5;
  width: 50%;
  height: 280px;
}
.container-empezar .empezar-3 .card-10 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2A89C9;
  font-size: 50px;
}
.container-empezar .empezar-3 .card-10 p {
  text-align: center;
  padding: 0 40px;
}

.container-conversar {
  display: flex;
  background-color: #00A1E1;
  width: 100%;
  justify-content: space-between;
}
.container-conversar .conversar-1 {
  width: 100%;
  padding-left: 150px;
  padding-top: 170px;
}
.container-conversar .conversar-1 h2 {
  font-size: 50px;
  color: white;
}
.container-conversar .conversar-1 p {
  display: flex;
  width: 60%;
  padding-left: 140px;
  padding-top: 40px;
  color: white;
}
.container-conversar .conversar-2 {
  width: 80%;
  padding-right: 150px;
  padding-top: 100px;
}
.container-conversar .conversar-2 form ul li {
  list-style-type: none;
  font-size: 20px;
  color: white;
}
.container-conversar .conversar-2 form ul li input {
  width: 450px;
  border: none;
}
.container-conversar .conversar-2 form ul li textarea {
  width: 450px;
  height: 150px;
  border: none;
}
.container-conversar .conversar-2 form ul li button {
  background-color: #00A1E1;
  color: white;
  border: 1px solid white;
  padding: 8px;
}
.container-conversar .conversar-2 p {
  font-size: 10px;
  color: white;
  padding-left: 35px;
  padding-bottom: 90px;
}
.container-conversar .conversar-2 p span {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
