.container-franquicias{
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
    .franquicias-1{
        justify-content: center;
        align-content: center;
        width: 40%;
        h2{
            padding-right: 60px;
            font-size: 55px;
        }
        p{
            text-align: start;
            font-size: 18px;
            padding-left: 142px;
            padding-right: 70px;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        a{
            padding-left: 150px;
            .boton{
                background-color: #2A89C9;
                padding: 15px 70px;
                color: white;
                border: none;
            }
        }
    }
    .franquicias-2{
        width: 30%;
    }
}


.container-bienvenidos{
    width: 100%;
    background-color: #F9F9F9;
    .bienvenidos-1{
        width: 100%;

        h5{
            text-align: center;
            padding-top: 50px;
        }
        h2{
            text-align: center;
            margin-right: 90px;
            padding-top: 25px;
            font-size: 55px;
        }
        p{
            padding-top: 25px;
            text-align: center;
            justify-content: center;
            width: 70%;
            margin-left: 210px;
            font-size: 16px;
            span{
                font-weight: bold;
            }
        }
    }
    .bienvenidos-2{
        width: 100%;
        iframe{
            padding-top: 45px;
            justify-content: center;
            width: 70%;
            height: 580px;
            margin-left: 220px;
            margin-bottom: 70px;
        }
    }
}


.container-nuestrahistoria{
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    .nuestra-historia1{
        width: 50%;
        justify-content: center;
        h2{
            font-size: 50px;
            margin-left: 50px;
            padding-bottom: 40px;
        }
        p{
            justify-content: flex-start;
            padding-left: 150px;
            padding-right: 60px;
            span{
                font-weight: bold;
            }
        }
    }
    .nuestra-historia2{
        width: 40%;
        .img-1{
            width: 27%;
            display: flex;
            flex-direction: row;
        }
        .img-2{
            display: flex;
            flex-direction: row;
            width: 54%;
            padding-top: 30px;
        }
    }
}


.container-ofrecemos{
    background-color: #F9F9F9;
    width: 100%;
    .encabezado{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        h2{
            font-size: 50px;
            padding-right: 130px;
        }
        p{
            padding-top: 30px;
        }
    }
    .grid-llama{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 50px;
        padding-bottom: 70px;
        .primer-section{
            width: 80%;
            margin-left: 250px;
            justify-content: flex-start;
            .grid-exp{
                width: 110%;
                margin-bottom: 90px;
                margin-top: 40px;
            }   
            .grid-soporte{
                width: 110%;
            }
        }
        .img-logo{
            width: 30%;
            justify-content: center;
            margin-right: 400px;
            img{
                width: 350%;
                padding-left: 70px;
            }
        }
        .segunda-section{
            width: 80%;
            margin-right: 150px;
            justify-content: flex-end;
            .grid-calidad{
                width: 110%;
                margin-bottom: 70px;
                margin-top: 40px;
            }
            .grid-marca{
                width: 110%;
            }
        }
    }
    .botton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 70px;
        
        a{
            .boton{
                background-color: #2A89C9;
                padding: 15px 70px;
                color: white;
                border: none;
            }
        }
    }
}

.container-empezar{
    width: 100%;
    .encabezado-empezar{
        width: 100%;
        margin-top: 90px;
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 55px;
            padding-right: 150px;
            padding-bottom: 15px;
        }
        p{
            text-align: center;
        }
        
    }
    .empezar-1{
        display: flex;
        align-content: center;
        width: 80%;
        justify-content: space-between;
        margin-left: 150px;
        margin-top: 50px;
        gap: 15px; 
        padding-bottom: 40px;   
        
        .card-1{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                display: inline;
                padding-left: 65px;
            }
        }
        .card-2{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
        .card-3{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
        .card-4{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
    }
    .empezar-2{
        display: flex;
        align-content: center;
        width: 80%;
        justify-content: space-between;
        margin-left: 150px;
        gap: 15px; 
        padding-bottom: 40px;  
        .card-5{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        } 
        .card-6{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
        .card-7{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
        .card-8{
            background-color: #F5F5F5;
            width: 30%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
    }
    .empezar-3{
        display: flex;
        align-content: center;
        width: 80%;
        justify-content: space-between;
        margin-left: 150px;
        gap: 15px; 
        padding-bottom: 120px;  
        .card-9{
            background-color: #F5F5F5;
            width: 50%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                display: inline;
                padding-left: 190px;
            }
        }
        .card-10{
            background-color: #F5F5F5;
            width: 50%;
            height: 280px;
            h2{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                padding-top: 30px;
                padding-bottom: 30px;
                color:  #2A89C9;
                font-size: 50px;
            }
            p{
                text-align: center;
                padding: 0 40px;
            }
        }
    }
}

.container-conversar{
    display: flex;
    background-color: #00A1E1;
    width: 100%;
    justify-content: space-between;
    .conversar-1{
        width: 100%;
        padding-left: 150px;
        padding-top: 170px;
        h2{
            font-size: 50px;
            color: white;
        }
        p{
            display: flex;
            width: 60%;
            padding-left: 140px;
            padding-top: 40px;
            color: white;
        }
    }
    .conversar-2{
        width: 80%;
        padding-right: 150px;
        padding-top: 100px;
        form{
            ul{
                li{
                    list-style-type: none;
                    font-size: 20px;
                    color: white;
                    input{
                        width: 450px; 
                        border: none;   
                    }
                    textarea{
                        width: 450px;
                        height: 150px;
                        border: none;
                    }
                    button{
                        background-color: #00A1E1;
                        color: white;
                        border: 1px solid white;
                        padding: 8px;
                    }
                }
            }
        }
        p{
            font-size: 10px;
            color: white;
            padding-left: 35px;
            padding-bottom: 90px;
            span{
                text-decoration: underline;
            }
        }
    }
}