header{
    border-bottom: 0.2px solid rgb(230, 230, 230);
    nav{
        div{
            div{
                img{
                    width: 50px;
                    margin-left: 100px;
                }
            }
        }
    }
}