header{
    border-bottom: 0.2px solid rgb(230, 230, 230);
    font-family: "Inconsolata", monospace;
    nav{
        div{
            div{
                img{
                    width: 50px;
                    margin-left: 100px;
                }
            }
        }
        div{
            ul{
                li{
                    a{
                        transition: 1s !important;
                        &:hover{
                            text-decoration: underline;
                            text-underline-offset: 1.5em;
                            color: #2A89C9 !important;
                        }
                    }
                }
            }
        }
    }
}

