section{
    .origenes-1{
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            padding-bottom: 40px;
            padding-top: 10px;
        }
        p{
            padding-top: 15px;
            padding-left: 70px;
            font-weight: bold;
            font-size: 25px;
        }
    }
    .origenes-2{
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            padding-bottom: 40px;
            padding-top: 10px;
        }
        p{
            padding-top: 15px;
            padding-left: 70px;
        }
    }
    .origenes-3{
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            padding-bottom: 40px;
            padding-top: 10px;
        }
        p{
            padding-top: 15px;
            padding-left: 70px;
        }
    }
}