.container-tarjetas{
    h1{
        text-align: center;
        margin-top: 60px;
        font-family: "Inconsolata", monospace;
    }
    .container-cards1{
        display: flex;
        width: 100% !important;
        justify-content: space-evenly;
        
        .card{
            margin: 20px;
            border: none;
            
            .card-body{
              position: relative;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin-left: auto;
             
              .card-title{
                display: flex;
              }
              .card-text{
                display: flex;
              }
            }
        }
    }
}