*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Inconsolata", monospace;
}
body{
    overflow-x: hidden;
    width: 100%;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.inconsolata-font {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }